#tabcloud-toolbar-button
{
  list-style-image: url("chrome://tabcloud/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
[iconsize="small"] #tabcloud-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}

#tabcloud-toolbar-button
{
	-moz-box-orient: horizontal;
}

#tabcloud-panel #tabcloud-scroll {
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#tabcloud-panel * {
	margin: 0;
	padding: 0;
}
#tabcloud-panel {
	font-family: sans-serif;
	font-size: 1.2em;
}
#tabcloud-panel .tabcloud-window {
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	margin: 5px;
	padding: 5px;
}
#tabcloud-panel .tabcloud-window legend {
	padding: 0 2px;
	background-color: white;
}
#tabcloud-panel .tabcloud-tabs img {
	margin: 2px;
	width: 16px;
	height: 16px;
}
#tabcloud-panel .tabcloud-tabs deck {
	width: 20px;
	height: 20px;
}
#tabcloud-panel #tabcloud-current {
	border-bottom: 1px solid black;
}
#tabcloud-panel .tabcloud-info {
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	margin: 5px;
	text-align: center;
	padding: 10px;
}
#tabcloud-panel .tabcloud-right {
	float: right;
	margin-top: -22px;
	background-color: white;
	padding: 2px;
	cursor: pointer;
}

#tabcloud-panel #tabcloud-tips span {
	width: 100%;
}
#tabcloud-panel #tabcloud-tips {
	margin-bottom: 3px;
}
#tabcloud-panel a {
	text-decoration: underline;
	color: #0000ee;
}
